{% extends 'base.html' %}

{% block content %}

{% if pictures %}
<div class="col centre">
    <div class="row settings-centre">
        <ul>
            {% for p in pictures %}
            <li>{{ p['date_uploaded_formatted'] }} <a href="{{ url_for('user', urluser=p['author']) }}">{{ p['author'] }}</a>: <a href="{{ url_for('picture', urluser=p['author'], urltitle=p['date_uploaded']) }}">{{ p['title'] }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% else %}
<p class="row">Nothing was found...</p>
{% endif %}

{% endblock %}
